.card{
    display: flex;
    flex-direction: column;
	width: 200px;
    height: 250px;   
	justify-content: space-between;
	padding: 20px 20px;
	background-color: #70559b;
	color: white;
	font-size: 24px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 5px 20px rgb(0 0 0 / 80%);
}