.main{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(185, 133, 154);
    border-radius: 5px;
    margin-bottom: 20px;
}
.food-img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.food-card{
    display: flex;
    flex-direction: column;
	width: 200px;
    height: 250px;   
	justify-content: space-between;
	padding: 20px 20px;
	background-color: #70559b;
	color: white;
	font-size: 24px;
	font-weight: 500;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 5px 20px rgb(0 0 0 / 80%);
}
.text{
    font-size: 40px;
    width: 300px;
    color: rgb(240, 232, 241);
}